@font-face {
  font-family: 'Triforce';
  src: url('../fonts/Triforce.ttf');
}

.sidebar-left, .sidebar-right {
  float: left;
  margin: 10px 10px;
  position: relative;
  height: 588px;
  width: 280px;
}

.map {
  margin: 10px 0;
  width: 588px;
  height: 588px;
  float: left;
}

.map-world tr {
  background: url('../images/grass.fw.png');
  height: 14px !important;
  padding: 0;
  margin: 0;
}

.map-world td {
  height: 14px !important;
  width: 14px !important;
  padding: 0;
  margin: 0;
}

.map-dungeon tr, .map-dungeon td {
  height: 10px !important;
  padding: 0;
  margin: 0;
}

.map-dungeon td {
  width: 10px !important;
  background: transparent;
}

/* Map sprites */
.map-world td.F {
  background: url('../images/forrest.fw.png');
}
.map-world td.G {
  background: url('../images/grass.fw.png');
}
.map-world td.M {
  background: url('../images/mountain.fw.png');
}
.map-world td.W {
  background: url('../images/water.fw.png');
}
.map-world td.S {
  background: url('../images/sand.fw.png');
}
.map-world td.O {
  background: url('../images/lostwoods.fw.png');
}
.map-world td.E {
  background: url('../images/sword.fw.png');
}
.map-dungeon {
  background: url('../images/sand.fw.png');
}
.map-dungeon td.D {
  background: url('../images/dungeon.fw.png');
}
.map-dungeon td.L {
  background: url('../images/sand.fw.png');
}
.map-world td.P {
  background: url('../images/door.fw.png') #C39753;
}
.map-dungeon td.P {
  background: url('../images/door-d.fw.png') #C39753;
}

/* Pendants */
.map-dungeon-bottom-left td.X {
  background: url('../images/pendant-1.fw.png')
}
.map-dungeon-top-right td.X {
  background: url('../images/pendant-2.fw.png')
}
.map-dungeon-bottom-right td.X {
  background: url('../images/pendant-3.fw.png')
}

/* Link */
.map-world .link { height: 14px; width: 14px; }
.map-world .link-standing {
  background: url('../images/link-standing.fw.png');
}
.map-world .link-up {
  background: url('../images/link-up.fw.png');
}
.map-world .link-right {
  background: url('../images/link-right.fw.png');
}
.map-world .link-down {
  background: url('../images/link-down.fw.png');
}
.map-world .link-left {
  background: url('../images/link-left.fw.png');
}

.map-dungeon .link { height: 10px; width: 10px; }
.map-dungeon .link-standing {
  background: url('../images/link-standing-d.fw.png');
}
.map-dungeon .link-up {
  background: url('../images/link-up-d.fw.png');
}
.map-dungeon .link-right {
  background: url('../images/link-right-d.fw.png');
}
.map-dungeon .link-down {
  background: url('../images/link-down-d.fw.png');
}
.map-dungeon .link-left {
  background: url('../images/link-left-d.fw.png');
}

/* Misc */
.menu, .map-dungeon {
  width: 280px;
  height: 280px;
}

.map-dungeon-bottom-left, .map-dungeon-bottom-right {
  position: absolute; bottom: 0;
}

.menu {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
}

.menu h1 {
  font-family: 'Triforce', Arial, sans-serif;
  color: #af8e2d;
  text-align: center;
  background: #fff;
  line-height: 50px;
  margin: 0 0 10px;
}

.menu .info {
  padding: 10px;
}

#start {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Triforce', Arial, sans-serif;
  font-size: 24px;
}

.nav-pills li {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #428bca;
}

.nav-pills li .badge {
  color: #428bca;
  background-color: #fff;
}

#sound {
  cursor: pointer;
  font-weight: normal;
}

.main {
  margin-top: -100px;
  border-top: 30px solid #245e37;
  background: rgba(44, 44, 44, 0.5);
  z-index: 10;
  position: relative;
}

.logo {
  width: 342px;
  margin: auto;
  display: block;
  z-index: 5;
  position: relative;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 5px;
  padding-bottom: 20px;
  background: url("../images/background.jpg") center 0 no-repeat #af8e2d;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  color: #fff;
  padding-right: 5px;
  height: 30px;
  background: #245e37;
  line-height: 30px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .container { width: 1188px; }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
